<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  We make choices. What we call 'fate' is more like the effect accumulation of all the habits and choices we made in the past. An individul spends his entire life playing a video game will be very good at just that. A murderer who lies and cheats and steals will most likely end up with an undesireable outcome in life. The idea of 'deserving' punishment is a very crude and dismissive understanding of justice.
</p><p>
We are on a trajectory that is fated by the minutia of choices and habits we make. THat is not to say that everything falls into the realm of reason. I do not believe we can predict the outcome of our futures with simply a cold and rational calculation.

</p>

<p>Find me in app/views/static_pages/about.html.erb</p>


