@import "bootstrap";
$grayLight: #999;
$grayMediumLight: #eaeaea;
$grayDarker: #333;
body {
  padding-top: 60px;
}

.nav{
    padding-left: 30px;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
