@import "bootstrap";
$grayLight: #999;
$grayMediumLight: #eaeaea;
$grayDarker: #333;
body {
  padding-top: 60px;
}

.nav{
    padding-left: 30px;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* Large desktop



@media (min-width: 1200px) { ... }
*/
/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) { ... }


*/

/* Landscape phones and down */
    .navbar-nav > li > a{
        @media (max-width: 480px){
        line-height: 15px;
    }
        @media (max-width: 767px){
        line-height: 15px;
    }
    }
.container{
    @media (max-width: 480px){
    padding-top: 155px;
}
    @media (max-width: 767px){
    padding-top: 155px;
}
}
