<footer class="footer">
  <small>
    <a href="www.cpcc.edu">The Human Commodity Project</a>
    by Design 4 CPCC Ad + Design
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://max-works">MAX-WORKS</a></li>
    </ul>
  </nav>
</footer>
